<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Ruta inválida</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">No hay contenido para la ruta actual</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>