@page "/Products/{ProductId:int}"
@attribute [Authorize(Roles = "admin")]
@using SharedDomain.Services
@using SharedDomain.Entities
<PageTitle>Editar producto</PageTitle>

@inject IProductsService ProductsService
@inject NavigationManager NavigationManager
<h1 class="mt-4">Editar producto</h1>

<EditForm Model="@Model" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Nombre</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Model.Name" />
        </div>
        <ValidationMessage For="@(() => Model!.Name)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Descripción</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Model.Description" />
        </div>
        <ValidationMessage For="@(() => Model!.Description)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Tipo</label>
        <div class="col-md-4">
            <InputSelect class="form-select" @bind-Value="Model.Type">
                <option value="@(ProductType.Normal)">Normal</option>
                <option value="@(ProductType.Vegetarian)">Vegetariano</option>
                <option value="@(ProductType.Vegan)">Vegano</option>
            </InputSelect>
        </div>
        <ValidationMessage For="@(() => Model!.Type)" />
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Precio</label>
        <div class="col-md-4">
            <InputNumber class="form-control" @bind-Value="Model.Price" />
        </div>
        <ValidationMessage For="@(() => Model!.Price)" />
    </div>
    <div class="form-group mt-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class="btn btn-danger" href="/Products">Cancelar</a>
    </div>
</EditForm>

@code {
    [Parameter]
    public int ProductId { get; set; }
    
    public Product? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await ProductsService.GetProduct(ProductId);
    }
    
    private async Task Submit()
    {
        await ProductsService.UpdateProduct(Model!);
        NavigationManager.NavigateTo("/Products");
    }
}
