@page "/Products"
@attribute [Authorize(Roles = "admin")]
@using SharedDomain.Data
@using SharedDomain.Entities
@using SharedDomain.Services

<PageTitle>Productos</PageTitle>

@inject IProductsService ProductsService

<h1 class="mt-4">Gestión de productos</h1>

<a class="btn btn-primary" href="Products/New">Crear</a>

@if (_products == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div hidden="@(_errorMsg == null)" class="alert alert-danger mt-2">@_errorMsg</div>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in _products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>
                    <a class="btn btn-primary" href="/Products/@product.Id">Editar</a>
                    <button class="btn btn-danger" onclick=@(() => Delete(@product.Id))>Borrar</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IReadOnlyCollection<Product>? _products;
    private string? _errorMsg;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    
    private async Task Delete(int id)
    {
        var result = await ProductsService.DeleteProduct(id);
        if (result.IsSuccess)
        {
            await LoadData();
        }
        else
        {
            _errorMsg = result.Error;
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        _products = await ProductsService.GetAllProducts();
        StateHasChanged();
    }
}
